/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css"); 

/* General style rules for fonts and colors */

body {
	font-family: 'PT Serif', serif;
	font-size: 18px;
}
h1, h2, h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
a {
	text-decoration: none;
}

